@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg: #0b0f10;
  --fg: #e2fbe2;
  --muted: #7af1a2;
}

html, body {
  height: 100%;
}

body {
  background: var(--bg);
  color: var(--fg);
}

.code {
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}
